<div class="footer-container">
    <div class="footer-components">
        <a href="/contact-us" id="footer-logo">Obour Math Club</a>
        <ul class="footer-column">
            <h5 class="footer-column-title">Navigation</h5>
            <a href="/olympiads"><li class="footer-item">Olympiads</li></a>
            <a href="/researches"><li class="footer-item">Researches</li></a>
            <a href="/about-us"><li class="footer-item">About Us</li></a>
            <a href="/contact-us"><li class="footer-item">Contact Us</li></a>
        </ul>
        <ul class="footer-column">
            <h5 class="footer-column-title">Courses</h5>
            <a href="#"><li class="footer-item">JOE (Grade 10)</li></a>
            <a href="#"><li class="footer-item">IOT (Grade 11)</li></a>
            <a href="#"><li class="footer-item">AOM (Grade 12)</li></a>
        </ul>
        <ul class="footer-column">
            <h5 class="footer-column-title">Contact Us</h5>
            <a href="mailto:hazemyacopbusiness@gmail.com"><li class="footer-item">obourmathclub@gmail.com</li></a>
        </ul>
    </div>
    <p id="love">Made with ❤ by <a href="#" class="underlined">Hazem Karam</a></p>
</div>
