<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/core.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/header-gradient.css" />
    <link rel="stylesheet" href="/styles/about-us.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Basic&family=Bebas+Neue&family=NTR&display=swap"
      rel="stylesheet"
    />
    <title>OMC | About Us</title>
  </head>
  <body>
    <!-- Header Section -->
    <%- include('partials/header.ejs') %>

    <div class="about-us-section centered">
      <div class="about-us-content centered">
        <div class="about-us-row centered" id="who-are-we">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Who Are We&nbsp;?</h2>
              <p>
                Obour STEM Maths Club is a student-led club based in Obour STEM
                School. We founded the club with the intention of making a
                difference in a field we deeply admire. Our goal was to create a
                home for both those who are curious to expand their knowledge in
                mathematics and those who might see it as an academic nightmare.
                At Obour STEM Maths Club, math is not just a school subject to
                be studied for exams — it’s a realm of logic and creativity.
                Once you understand it, you’ll discover how fun and impressive
                it can be. That’s why we teach math in a creative, easy, and
                enjoyable way, aiming to reach every mind and uncover the reason
                behind every mathematical law. We believe everyone deserves the
                chance to experience the pleasurable side of math through deep
                understanding. Since day one, we’ve been working hand in hand to
                make math more accessible, more enjoyable, and more human.
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-left">
            <img src="/assets/about-1.jpg" alt="#" />
          </div>
        </div>
        <div class="about-us-row centered" id="our-mission">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Our Mission</h2>
              <p>
                1- To create high-quality math resources and make them freely
                accessible to every student, regardless of background or skill
                level. 2- To help students prepare for school exams and Math
                Olympiads in a smart, stress-free, and supportive way. 3- To
                build a strong, inclusive community where students can grow
                together, support one another, and stay motivated throughout
                their math journey. 4- To organize exciting competitions and
                activities that ignite curiosity, build confidence, and show
                students the fun and thrill in solving problems. 5- To make math
                more than just a subject—to turn it into an adventure of logic,
                discovery, and lifelong learning.
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-right">
            <img src="/assets/about-2.jpg" alt="#" />
          </div>
        </div>
        <div class="about-us-row centered" id="our-vision">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Our Vision</h2>
              <p>
                We envision a generation of students who see mathematics not as
                a source of fear, but as a powerful tool — a language to think
                with, a way to solve problems, and a space for creativity. At
                Obour STEM Maths Club, our vision is to shift how students
                experience math — not just in our school, but across Egypt. We
                believe math should be something to connect with, enjoy, and
                explore deeply, not just study for exams. That's why we're
                building more than just a club, we're building a community.
                Through our active WhatsApp group, students from different
                grades and backgrounds come together to share their ideas,
                support each other, and grow collectively. Everyone contributes,
                learns, and uplifts one another. We also produce student-made
                YouTube content — from tutorials and final revision guides to
                Olympiad preparation and problem-solving walkthroughs, all
                tailored to make math more accessible, engaging, and relatable.
                To keep the spirit of curiosity and challenge alive, we
                regularly organize math competitions and problem-solving events
                that ignite excitement and bring out the best in students. These
                competitions don’t just test knowledge — they build confidence,
                teamwork, and a true love for the subject. Our vision is simple:
                to make math a shared, joyful experience, one that inspires
                confidence, curiosity, and a lifelong appreciation for the
                beauty of logic.
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-left">
            <img src="/assets/about-3.jpg" alt="#" />
          </div>
        </div>
      </div>
      <div class="meet-the-team centered">
        <h2 id="meet-the-team-title">Meet Our Team</h2>
        <div class="team-members">
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Web Developer</span>
              <span id="member-name">Hazem Karam</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">President</span>
              <span id="member-name">Ezzeldien Rashad</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Co-President</span>
              <span id="member-name">Abdullah Atef</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Co-President</span>
              <span id="member-name">Bassant Yasser</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>

    <script
      src="https://kit.fontawesome.com/82432b4eb3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </body>
</html>
