<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/core.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/header-gradient.css" />
    <link rel="stylesheet" href="/styles/about-us.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Basic&family=Bebas+Neue&family=NTR&display=swap"
      rel="stylesheet"
    />
    <title>OMC | About Us</title>
  </head>
  <body>
    <!-- Header Section -->
    <%- include('partials/header.ejs') %>

    <div class="about-us-section centered">
      <div class="about-us-content centered">
        <div class="about-us-row centered" id="who-are-we">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Who Are We&nbsp;?</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                sed felis elit. Sed laoreet leo placerat turpis imperdiet
                efficitur. Sed viverra cursus ornare. Duis pulvinar eros sed
                suscipit convallis. Nunc accumsan rutrum consequat. Etiam
                suscipit felis ultricies elit faucibus dictum. In hac habitasse
                platea dictumst. Praesent aliquet viverra arcu id elementum.
                Nulla aliquam molestie egestas. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Vivamus in
                magna lobortis, tristique purus eu, mollis justo. Nullam
                volutpat vel sapien eget congue. Maecenas vel lacus auctor,
                eleifend leo sollicitudin, placerat metus. Nam lectus augue,
                iaculis ac ante vel, malesuada pharetra est. Ut condimentum
                malesuada quam.
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-left">
            <img src="/assets/about-1.jpg" alt="#" />
          </div>
        </div>
        <div class="about-us-row centered" id="our-mission">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Our Mission</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                sed felis elit. Sed laoreet leo placerat turpis imperdiet
                efficitur. Sed viverra cursus ornare. Duis pulvinar eros sed
                suscipit convallis. Nunc accumsan rutrum consequat. Etiam
                suscipit felis ultricies elit faucibus dictum. In hac habitasse
                platea dictumst. Praesent aliquet viverra arcu id elementum.
                Nulla aliquam molestie egestas. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-right">
            <img src="/assets/about-2.jpg" alt="#" />
          </div>
        </div>
        <div class="about-us-row centered" id="our-vision">
          <div class="about-us-row-content centered">
            <div class="row-indicator">
              <div class="circle"></div>
              <div class="vertical-line"></div>
            </div>
            <div class="about-us-text centered">
              <h2>Our Vision</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                sed felis elit. Sed laoreet leo placerat turpis imperdiet
                efficitur. Sed viverra cursus ornare. Duis pulvinar eros sed
                suscipit convallis. Nunc accumsan rutrum consequat. Etiam
                suscipit felis ultricies elit faucibus dictum. In hac habitasse
                platea dictumst. Praesent aliquet viverra arcu id elementum.
                Nulla aliquam molestie egestas. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus
              </p>
            </div>
          </div>
          <div class="about-us-image rotate-left">
            <img src="/assets/about-3.jpg" alt="#" />
          </div>
        </div>
      </div>
      <div class="meet-the-team centered">
        <h2 id="meet-the-team-title">Meet Our Team</h2>
        <div class="team-members">
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Web Developer</span>
              <span id="member-name">Hazem Karam</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">President</span>
              <span id="member-name">Ezzeldien Rashad</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Co-President</span>
              <span id="member-name">Abdullah Atef</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <div class="member-card centered">
            <img
              src="/assets/members/hazem-karam.png"
              alt="hazem-karam"
              class="member-image"
            />
            <div class="member-titles centered">
              <span id="member-job">Co-President</span>
              <span id="member-name">Bassant Yasser</span>
            </div>
            <div class="member-socials centered">
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>

    <script
      src="https://kit.fontawesome.com/82432b4eb3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </body>
</html>
